.HomeWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* background-color: #24242444; */
    /* backdrop-filter: blur(5px); */
}

.text-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}


.text-4xl {
    font-size: 8rem;
    color: var(--accent-color);
    text-transform: uppercase;
}

.text-holder h1{
    margin: 0;
}

.text-holder p{
    margin: 0;
}

.button-holder{
    width: 70%;
    margin-top: 5rem;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    gap: 2rem;
}

.text-2xl {
    color: var(--secondary-color);
    font-size: 3rem;
    text-transform: uppercase;
}

.cardHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.tilted-card-overlay {
    margin: 5%;
    width: 40%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;

    background-color: #24242444;
    border-radius: 1.5em;
    
    text-shadow: 0px 0px 50px var(--accent-glow-color);
}

.text-overlay {
    width: 100%;
    padding-left: 10%;
    font-size: 1.5rem;
}