.content{
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Introduction{
    font-size: 1.5em;
    margin-bottom: 10vh
}

.Introduction p{
    font-size: .8em;
    width: 130px;
    text-align: left;
    margin-bottom: 1em;
    padding:1em;
    background-color: #1c1c1c;
    border-radius: 1em;
    box-shadow: 0px 0px 10px #1c1c1c;

}

#query{
    width: 50vw;
    height: 40px;
    padding: 0.5em 1.5em;
    font-size: 18px;
    border-radius: 1em;
    border: none;
    text-wrap: wrap;
}

#send {
    width: 50px;
    cursor: pointer;
    height: 50px;
    margin-left: 1em;
    border-radius: 100%;
    border: none;
}
