.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
}

.logo {
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    flex-grow: 3;
    padding-left: 5vw;
    z-index: -1;
}

nav {
    height: 4vh;
    color: var(--secondary-color);
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    z-index: 1;
}

.burger-menu {
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
}

.burger-bar {
    width: 2em;
    height: 0.2em;
    border-radius: 10%;
    background-color: var(--secondary-color);
    transition: all 0.3s cubic-bezier(0.29, 1.01, 1, -0.68);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding:1vh 1vw 5vh 5vw;
    background-color: var(--accent-color);
    backdrop-filter: blur(10px);
    font-weight: bold;
    z-index: 0;
    transition: all 0.3s ease-in-out;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 20% 100%, 0 80%);
    /* filter: drop-shadow(0px 0px 10px var(--secondary-color)); */
}

.menu ul {
    padding: 0 1em 0 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.menu ul li {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    color: var(--primary-color);
}

.menu ul li:hover{
    color: var(--secondary-color);
}

/* .holder{
    height: 5em;
    width: 6em;
    flex-grow: 1;
} */

.hidden{
    right: -100%;
    top: -100%
}

.visible{
    right: 0;
    top:0;
}

.open{
    color: var(--accent-color);
}

.close{
    color: var(--secondary-color);
}
