.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 0 1vw;
    width: 98vw;
    height: 10vh;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}

li{
    cursor: pointer;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    padding: 10px;
    transition: color 0.3s ease;
}

li:hover {
    background-color: #fff;
    color: #333;

}

.submenu {
    display: block;
    position: absolute;
    top: 8vh;
    color: #fff;
    right: -100%;
    transition: right 0.3s ease;
}

.has-submenu:hover > .submenu {
    display: block;
    right: 2vw
}
