.app {
    width: 100vw;
    height: 100dvh;
}

.beams-container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  left: 0;
}

html {
    height: 0;
    width: 0;
}

button {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  width: 10em;
  height: 3.5em;
  font-size: 1rem;
  border-radius: 0.5em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
button:hover {
  cursor: pointer;
  background-color: #24242455;
  backdrop-filter: blur(10px);
  color: var(--accent-color);
}