:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--secondary-color);
  background-color: var(--primary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #242424;
  --secondary-color: #e3e3e3;
  --accent-color: #d10404;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


